<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
      <link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
     body{
    background:#f5f6fa;
}

       .sidebar{
    width:250px;
    height:100vh;
    background:white;
    position:fixed;
    padding-top:20px;
    border-right:1px solid #ddd;
}
.sidebar a{
    display:block;
    color:#444;
    text-decoration:none;
    padding:14px 20px;
    margin:5px 10px;
    border-radius:12px;
    transition:0.3s;
    font-weight:500;
}

.sidebar a:hover{
    background:#f3e8ff;
    color:#9333ea;
}

        .content{
            margin-left:260px;
            padding:30px;
        }

        .card{
            border:none;
            border-radius:20px;
        }
</style>  
        <body>
           <div class="sidebar">
 <h3 class="text-center mb-2"> <img src="{{ url_for('static', filename='logo1.png') }}" width="160"></h3>
    
    <a href="/admin">
        <i class="fa-solid fa-chart-line me-2"></i>
        Dashboard
        
    </a>
    

    <a href="/admin/users">
        <i class="fa-solid fa-users me-2"></i>
        Users
    </a>

    <a href="/admin/sessions">
        <i class="fa-solid fa-clock-rotate-left me-2"></i>
        Sessions
    </a>

    <a href="/admin/logs">
        <i class="fa-solid fa-file-lines me-2"></i>
        Logs
    </a>

    <a href="/admin/logout">
        <i class="fa-solid fa-right-from-bracket me-2"></i>
        Logout
    </a>
    </div>

<div class="content">

    <div class="d-flex justify-content-between align-items-center mb-2">

   

   <input type="text"  id="searchInput" class="form-control mb-3" placeholder="🔍 Rechercher...">

</div>
<div class="d-flex justify-content-between align-items-center mb-2">

    <h4>
        Les logs
    </h4>

    <div class="text-end small text-muted">

        <div>
            Total logs :
            <strong>{{ total_logs }}</strong>
        </div>

        <div>
            Nombre de logins :
            <strong>{{ logins }}</strong>
        </div>

        <div>
            Nombre de logouts :
            <strong>{{ logouts }}</strong>
        </div>
        <div>
            Nombre d'inscriptions :
            <strong>{{ inscriptions }}</strong>
        </div>
    </div>

</div>

    <table class="table table-bordered table-hover bg-white" id="logsTable">

        <thead class="table-dark">

            <tr>

                <th>User</th>

                <th>Action</th>

                <th>Date</th>

            </tr>

        </thead>

        <tbody>

            {% for log in logs %}

            <tr>

                <td>
                    {{ log.nom }}
                </td>

                <td>

                    {% if log.action == "login" %}

                    <span class="badge bg-success">
                        Login
                    </span>

                    {% elif log.action == "logout" %}

                    <span class="badge bg-danger">
                        Logout
                    </span>

                    {% else %}

                    <span class="badge bg-primary">
                        {{ log.action }}
                    </span>

                    {% endif %}

                </td>

                <td>
                    {{ log.date }}
                </td>

            </tr>

            {% endfor %}

        </tbody>

    </table>
    <div class="d-flex justify-content-center mt-4 gap-2">

    {% if page > 1 %}

    <a href="/admin/logs?page={{ page - 1 }}"
       class="btn btn-outline-primary">

        Previous

    </a>

    {% endif %}

    {% if page < total_pages %}

    <a href="/admin/logs?page={{ page + 1 }}"
       class="btn btn-outline-primary">

        Next

    </a>

    {% endif %}

</div>

</div>
<script>
    const searchInput =
document.getElementById("searchInput");

searchInput.addEventListener("keyup", function(){

    let value =
    searchInput.value.toLowerCase();

    let rows =
    document.querySelectorAll("logsTable tbody tr");

    rows.forEach(function(row){

        let text =
        row.textContent.toLowerCase();

        if(text.includes(value)){

            row.style.display = "";

        }

        else{

            row.style.display = "none";

        }

    });

});

</script>


        </body>
    </head>
</html>